# Backend (Django)
backend/__pycache__/
backend/db.sqlite3
backend/.env
backend/venv/
backend/media/
backend/node_modules/
backend/staticfiles/

# Frontend (Vite/React)
frontend/node_modules/
frontend/dist/
frontend/.env.local

# System files
.DS_Store
Thumbs.db

**/__pycache__/
*.pyc